
#wrapper {
    @apply bg-[#01A1DF]/30;
    @apply min-h-screen shadow-lg shadow-blue-950/20;
    @apply mx-auto max-w-[400px];
    backdrop-filter: blur(5px);
    
    font-family: 'Anuphan', sans-serif;
    padding-bottom: 2em;
}

#backend-wrapper {
    @apply bg-[#F1F5F9];
    @apply min-h-screen shadow-lg shadow-blue-950/80;
    @apply mx-auto max-w-screen-lg;
    @apply text-neutral-900;
    font-family: 'Anuphan', sans-serif;
    padding-bottom: 2em;
}

.site-title {
    @apply font-medium text-2xl text-center;
    @apply tracking-wide;
}